DIV2/DAT/
DIV2/DLL/
DIV2/FNT/
DIV2/GENSPR/
DIV2/IFS/
DIV2/MAP/
DIV2/PAL/
DIV2/PRG/
DIV2/SYSTEM/
DIV2/WAV/
DIV2/FLI/
DIV2/FPG/
DIV2/HELP/
DIV2/INSTALL/
DIV2/MOD/
DIV2/PCM/
DIV2/SETUP/
DIV2/USER/
DIV2/WLD/
!DIV2/zardoz/**
!DIV2/zardoz/**/*.CSV

mods/**
WATCOM/*
tmp/*
vp/*
*.swp
*.bak

